# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

gemma4-build
models

# dependencies
node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# emacs
#*.*#
.#.*
*.*~
*~

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.next

# Logs
logs
*.log
pnpm-debug.log*
lerna-debug.log*

#PyCache
**/__pycache__

#Python modules
**/.venv

**/node_modules
dist
distbackup
dist-ssr
*.local

.env
.env*
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.*~

*~

testdocs
**/uploads

product-requirements
